{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="nav-widget-logo no-ph">
            <img src="{% static 'img/olx.png' %}" class="nav-logo"></a>
        </div>
        <ul class="menu">
            {% if user.is_authenticated %}
            <a href="{% url 'messages' %}">
                <li class="li-nav">Сообщения</li>
            </a>
            <a href="{% url 'favorites' %}">
                <li class="li-nav">Избранное</li>
            </a>
            <a href="{% url 'logout' %}">
                <li class="li-nav">
                    Выйти из профиля
                </li>
            </a>
            <a href="{% url 'addpost' %}" class="nav-send">
                <li class="li-nav">Подать объявление</li>
            </a>
            {% else %}
            <a href="{% url 'authorisation' %}">
                <li class="li-nav">Сообщения</li>
            </a>
            <a href="{% url 'authorisation' %}">
                <li class="li-nav">Избранное</li>
            </a>
            <a href="{% url 'authorisation' %}">
                <li class="li-nav">
                    Войти в профиль
                </li>
            </a>
            <a href="{% url 'authorisation' %}">
                <li class="li-nav">Подать объявление</li>
            </a>
            {% endif %}
        </ul>
    </div>
    {% block content %}
    {% endblock %}
    <div class="start-business no-ph">
        <div class="start-business-widget">
            <div class="up-gologramm">
                <img src="{% static 'img/up.PNG' %}" alt="">
            </div>
            <div class="text">
                <p>Начните бизнес в интернете с OLX!</p>
            </div>
            <div class="start-business-button">
                <button class="start-business-btn">Подробнее</button>
            </div>
        </div>
    </div>
    <div class="about-olx no-ph">
        <div class="about-olx-widget">
            <div class="about-olx-img">
                <img src="{% static 'img/olx-footer.PNG' %}" alt="">
            </div>
            <div class="about-olx-content">
                <p class="about-olx-p-first">Сервис объявлений №1 в Узбекистане</p>
                <p class="about-olx-p-second">Частные объявления Узбекистана на OLX(бывший torg.uz) - здесь вы найдете то, что искали.</p>
                <p class="about-olx-p-third">Нажав на кнопку "Подать объявление", вы сможете разместить онлайн-объявление на любую необходимую тематику - поиск работы, услуги, продажа автомобилей, недвижимости, электроники и многое другое.</p>
                <p class="about-olx-p-four">С помощью сервиса OLX в Узбекистане вы можете найти, продать или купить практически все, что угодно.</p>
                <p class="about-olx-p-five">Воспользовавшись функцией поиска, вы без труда найдете уже опубликованные объявления интересующей вас тематики.</p>
                <p class="about-olx-p-six">OLX в Узбекистане - ваш надежный и незаменимый помощник.</p>
            </div>
        </div>
    </div>
    <div class="types-category no-ph">
        <div class="types-category-widget">
            <div class="document-img-widget">
                <img src="{% static 'img/document.PNG' %}" class="document-img">
            </div>
            <div class="types-category-content">
                <p class="text-bold">Разделы на сервисе OLX: </p>
                <p class="types-category-p">Детский мир, Недвижимость, Транспорт, Работа, Животные, Дом и сад, Электроника, Бизнес и услуги, Мода и стиль, Хобби, отдых и спорт, Отдам даром, Обмен</p>
            </div>
        </div>
    </div>
    <div class="border-footer"></div>
    <div class="footer">
        <div class="footer-content">
            <ul class="footer-menu">
                <li class="footer-li">
                    <a href="{% url 'mobileapps' %}">
                        Мобильные приложения
                    </a>
                </li>
                <li class="footer-li">
                    <a href="{% url 'main_help' %}">
                        Помощь
                    </a>
                </li>
                <li class="footer-li">
                    <a href="{% url 'payments' %}">
                        Платные услуги
                    </a>
                </li>
                <li class="footer-li">
                    <a href="{% url 'reklama' %}">
                        Реклама на сайте
                    </a>
                </li>
                <li class="footer-li">
                    <a href="{% url 'rules' %}">
                        Условия пользования
                    </a>
                </li>
                <li class="footer-li">
                    <a href="{% url 'error' %}">
                        Политика конфиденциальности
                    </a>
                </li>
                <li class="footer-li no-ph" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 17.5px; display: flex;">
                    <span class="no-ph">Партнёры</span> <img src="{% static 'img/dropdown.PNG' %}" class="footer-img no-ph">
                </li>
            </ul>
            <ul class="menu-second">
                <li class="footer-li-second">
                    <a href="{% url 'buy' %}">
                        Как продавать и покупать?
                    </a>
                </li>
                <li class="footer-li-second">
                    <a href="">
                        Правила безопасности
                    </a>
                </li>
                <li class="footer-li-second">
                    <a href="">
                        Карта сайта
                    </a>
                </li>
                <li class="footer-li-second">
                    <a href="">Карта регионов</a>
                </li>
                <li class="footer-li-second">
                    <a href="{% url 'careers' %}">
                        Карьера в OLX
                    </a>
                </li>
                <li class="footer-li-second">
                    <a href="{% url 'developers' %}">О разработчиках этого сайта</a>
                </li>
            </ul>
            <div class="footer-widgets no-ph">
                <div class="footer-widgets-flex">
                    <div class="playstore-widget">
                        <button class="playstore-btn">
                            <a href="">
                                <img src="{% static 'img/playstore.PNG' %}" alt="" class="playstore-img">
                            </a>
                        </button>
                    </div>
                </div>
                <div class="footer-widgets-description">
                    <p class="footer-widgets-p">
                        Бесплатное приложение для твоего телефона
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-flags no-ph">
            <div class="footer-flags-widget">
                <div class="bulgaria-widget" style="padding-right: 20px;">
                    <a href="">
                        <img src="{% static 'img/bulgaria.PNG' %}" alt="" class="bulgaria-img">
                        OLX.bg
                    </a>
                </div>
                <div class="polska-widget" style="padding-right: 20px;">
                    <a href="">
                        <img src="{% static 'img/polska.png' %}" alt="" class="polska-img">
                        OLX.pl
                    </a>
                </div>
                <div class="romania-widget" style="padding-right: 20px;">
                    <a href="">
                        <img src="{% static 'img/romania.png' %}" alt="" class="romania-img">
                        OLX.ro
                    </a>
                </div>
                <div class="ukraine-widget" style="padding-right: 20px;">
                    <a href="">
                        <img src="{% static 'img/ukraine.png' %}" alt="" class="ukraine-img">
                        OLX.ua
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>