{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/careers-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/other-style.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="nav-widget-logo no-ph">
            <button class="nav-widget-btn">
                <a href="{% url 'index' %}"><img src="{% static 'img/olx.png' %}" class="nav-logo"></a>
            </button>
        </div>
        <ul class="menu">
            {% if user.is_authenticated %}
            <a href="{% url 'messages' %}">
                <li class="li-nav">Сообщения</li>
            </a>
            <a href="{% url 'favorites' %}">
                <li class="li-nav">Избранное</li>
            </a>
            <a href="{% url 'logout' %}">
                <li class="li-nav">
                    Выйти из профиля
                </li>
            </a>
            <a href="{% url 'addpost' %}">
                <li class="li-nav">Подать объявление</li>
            </a>
            {% else %}
            <a href="{% url 'authorisation' %}">
                <li class="li-nav">Сообщения</li>
            </a>
            <a href="{% url 'authorisation' %}">
                <li class="li-nav">Избранное</li>
            </a>
            <a href="{% url 'authorisation' %}">
                <li class="li-nav">
                    Войти в профиль
                </li>
            </a>
            <a href="{% url 'authorisation' %}">
                <li class="li-nav">Подать объявление</li>
            </a>
            {% endif %}
        </ul>
    </div>
    {% block content %}
    {% endblock %}
    <div class="footer">
        <div class="footer-content">
            <ul class="footer-menu">
                <li class="footer-li">
                    <a href="{% url 'mobileapps' %}">
                        Мобильные приложения
                    </a>
                </li>
                <li class="footer-li">
                    <a href="{% url 'main_help' %}">
                        Помощь
                    </a>
                </li>
                <li class="footer-li">
                    <a href="{% url 'payments' %}">
                        Платные услуги
                    </a>
                </li>
                <li class="footer-li">
                    <a href="{% url 'reklama' %}">
                        Реклама на сайте
                    </a>
                </li>
                <li class="footer-li">
                    <a href="{% url 'rules' %}">
                        Условия пользования
                    </a>
                </li>
                <li class="footer-li">
                    <a href="{% url 'error' %}">
                        Политика конфиденциальности
                    </a>
                </li>
                <li class="footer-li no-ph" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 17.5px; display: flex;">
                    <span class="no-ph">Партнёры</span><img src="{% static 'img/dropdown.PNG' %}" class="footer-img no-ph">
                </li>
            </ul>
            <ul class="menu-second">
                <li class="footer-li-second">
                    <a href="{% url 'buy' %}">
                        Как продавать и покупать?
                    </a>
                </li>
                <li class="footer-li-second">
                    <a href="">
                        Правила безопасности
                    </a>
                </li>
                <li class="footer-li-second">
                    <a href="">
                        Карта сайта
                    </a>
                </li>
                <li class="footer-li-second">
                    <a href="">Карта регионов</a>
                </li>
                <li class="footer-li-second">
                    <a href="">
                        Карьера в OLX
                    </a>
                </li>
                <li class="footer-li-second">
                    <a href="">Обратная связь</a>
                </li>
            </ul>
            <div class="footer-widgets no-ph">
                <div class="footer-widgets-flex">
                    <div class="playstore-widget">
                        <button class="playstore-btn">
                            <a href="">
                                <img src="{% static 'img/playstore.PNG' %}" alt="" class="playstore-img">
                            </a>
                        </button>
                    </div>
                    <!-- <div class="appstore-widget">
                        <button class="appstore-btn">
                            <a href="">
                                <img src="{% static 'img/appstore.PNG' %}" alt="" class="appstore-img">
                            </a>
                        </button>
                    </div> -->
                </div>
                <div class="footer-widgets-description">
                    <p class="footer-widgets-p">
                        Бесплатное приложение для твоего телефона
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-flags no-ph">
            <div class="footer-flags-widget">
                <div class="bulgaria-widget" style="padding-right: 20px;">
                    <a href="">
                        <img src="{% static 'img/bulgaria.PNG' %}" alt="" class="bulgaria-img">
                        OLX.bg
                    </a>
                </div>
                <div class="polska-widget" style="padding-right: 20px;">
                    <a href="">
                        <img src="{% static 'img/polska.png' %}" alt="" class="polska-img">
                        OLX.pl
                    </a>
                </div>
                <div class="romania-widget" style="padding-right: 20px;">
                    <a href="">
                        <img src="{% static 'img/romania.png' %}" alt="" class="romania-img">
                        OLX.ro
                    </a>
                </div>
                <div class="ukraine-widget" style="padding-right: 20px;">
                    <a href="">
                        <img src="{% static 'img/ukraine.png' %}" alt="" class="ukraine-img">
                        OLX.ua
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>