{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/careers-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/other-style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo-widget">
            <a href="{% url 'index' %}"><img src="{% static 'img/olx.png' %}" class="nav-logo"></a>
        </div>
        <ul class="menu">
            {% if user.is_authenticated %}
            <li class="li-nav-first">
                <a href="{% url 'messages' %}"><p class="margin0">Сообщения</p></a>
            </li>
            <li class="li-nav">
                <a href="{% url 'favourites' %}"><p class="margin0">Избранное</p></a>
            </li>
            <li class="li-nav">
                <a href="{% url 'logout' %}"><p class="margin0">Выйти</p></a>
            </li>
            <li class="li-nav">
                <a href="{% url 'addpost' %}"><p class="margin0">Подать объявление</p></a>
            </li>
            {% else %}
            <li class="li-nav-first">
                <a href="{% url 'authorisation' %}"><p class="margin0">Сообщения</p></a>
            </li>
            <li class="li-nav">
                <a href="{% url 'authorisation' %}"><p class="margin0">Избранное</p></a>
            </li>
            <li class="li-nav">
                <a href="{% url 'authorisation' %}"><p class="margin0">Войти</p></a>
            </li>
            <li class="li-nav">
                <a href="{% url 'authorisation' %}"><p class="margin0">Подать объявление</p></a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <div class="footer">
        <div class="footer-content">
            <ul class="footer-menu">
                <a href="{% url 'mobileapps' %}">
                    <li class="footer-li">
                        Мобильное приложение
                    </li>
                </a>
                <a href="{% url 'payments' %}">
                    <li class="footer-li">
                        Платные услуги
                    </li>
                </a>
                <li class="footer-li-frik">
                    <span class="no-ph">Партнёры</span><img src="{% static 'img/dropdown.PNG' %}" class="footer-img no-ph">
                </li>
            </ul>
            <ul class="menu-second">
                <a href="">
                    <li class="footer-li-second">
                        Правила безопасности
                    </li>
                </a>
                <a href="">
                    <li class="footer-li-second">
                        Карьера в OLX
                    </li>
                </a>
                <a href="">
                    <li class="footer-li-second">
                        Обратная связь
                    </li>
                </a>
                
            </ul>
            <div class="footer-widgets no-ph">
                <div class="footer-widgets-flex">
                    <div class="playstore-widget">
                        <button class="playstore-btn">
                            <a href="">
                                <img src="{% static 'img/playstore.PNG' %}" alt="" class="playstore-img">
                            </a>
                        </button>
                    </div>
                    <!-- <div class="appstore-widget">
                        <button class="appstore-btn">
                            <a href="">
                                <img src="{% static 'img/appstore.PNG' %}" alt="" class="appstore-img">
                            </a>
                        </button>
                    </div> -->
                </div>
                <div class="footer-widgets-description">
                    <p class="footer-widgets-p">
                        Бесплатное приложение для твоего телефона
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-flags no-ph">
            <div class="footer-flags-widget">
                <div class="bulgaria-widget" style="padding-right: 20px;">
                    <a href="">
                        <img src="{% static 'img/bulgaria.PNG' %}" alt="" class="bulgaria-img">
                        OLX.bg
                    </a>
                </div>
                <div class="polska-widget" style="padding-right: 20px;">
                    <a href="">
                        <img src="{% static 'img/polska.png' %}" alt="" class="polska-img">
                        OLX.pl
                    </a>
                </div>
                <div class="romania-widget" style="padding-right: 20px;">
                    <a href="">
                        <img src="{% static 'img/romania.png' %}" alt="" class="romania-img">
                        OLX.ro
                    </a>
                </div>
                <div class="ukraine-widget" style="padding-right: 20px;">
                    <a href="">
                        <img src="{% static 'img/ukraine.png' %}" alt="" class="ukraine-img">
                        OLX.ua
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>