@media screen and (max-width: 970px){
    .no-ph{
        display: none;
    }
    .footer-content{
        display: block;
    }
    .footer-menu{
        text-align: center;
    }
    .menu-second{
        text-align: center;
    }
    .search-first-form{
        display: block;
    }
    .input-search-first{
        height: 100%;
    }
    .btn-search{
        margin-top: 3%;
        display: flex;
        justify-content: center;
        margin-left: 30%;
    }
    .menu{
        display: block;
        text-align: center;
    }
    .input-search-first::placeholder{
        text-align: center;
    }
    .favorites-menu{
        display: block;
        text-align: center;
    }
    .li-favorites{
        padding-bottom: 15px;
    }
    .favorites-p{
        text-align: center;
    }
    .author-widget{
        width: 90%;
    }
    .head-register{
        text-align: center;
    }
    .post-detail-contact-content{
        display: block;
    }
    .post-detail-photo{
        width: 90%;
        margin-left: 3%;
        margin-bottom: 5%;
    }
    .post-photo{
        width: 100%;
    }
    .author-description-widget{
        display: block;
    }
    .message-description-widget{
        width: 100%;
    }
    .message-send-btn-widget{
        display: flex;
        justify-content: center;
    }
    .post-description-widget{
        width: 94%;
        margin-bottom: 20%;
    }
    .post-description{
        width: 89.5%;
    }
    .gps-widget{
        width: 84%;
        margin-left: 3%;
    }
    .title-message-widget{
        display: block;
        width: 100%;
    }
    .mini-menu{
        display: block;
        text-align: center;
    }
    .messages-widget{
        display: block;
    }
    .messages{
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .month{
        display: flex;
        justify-content: center;
    }
    .chat-widget{
        display: block;
        text-align: center;
        padding: 10px;
    }
    .chat-username-widget{
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    .select-message-form{
        display: flex;
        justify-content: center;
    }
    .photo-label-btn{
        padding: 10% 25% 10% 25%;
        text-align: center;
    }
    .description-widget{
        width: 89%;
    }
}