@media screen and (max-width: 970px){
    .no-ph{
        display: none;
    }
    .footer-content{
        display: block;
    }
    .footer-menu{
        text-align: center;
    }
    .menu-second{
        text-align: center;
    }
    .search-first-form{
        display: flex;
    }
    .input-search-first::placeholder{
        text-align: center;
    }
    .menu{
        margin-left: 0;
    }
    .favorites-menu{
        display: block;
        text-align: center;
    }
    .li-favorites{
        padding-bottom: 15px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .li-nav{
        padding: 0;
        font-size: 12px;
        margin-left: 20px;
    }
    .li-nav-first{
        font-size: 12px;
    }
    .favorites-p{
        text-align: center;
    }
    .author-widget{
        width: 90%;
    }
    .premium-card{
        margin: 0 0 5% 0;
    }
    .head-register{
        text-align: center;
    }
    .reklama-widget{
        text-align: center;
    }
    .post-detail-contact-content{
        display: block;
        flex-wrap: wrap;
    }
    .post-detail-photo{
        width: 100%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 5%;
        height: 200px !important;
    }
    .post-photo{
        width: 100%;
    }
    .author-description-widget{
        display: block;
    }
    .author-description{
        width: 91% !important;
    }
    .message-send-btn-widget{
        display: flex;
        justify-content: center;
    }
    .post-description-widget{
        margin-left: 0px !important;
    }
    .post-description{
        width: 85% !important;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 5%;
    }
    .gps-widget{
        width: 100% !important;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 5%;
    }
    .message-description-widget{
        width: 94% !important;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 5%;
    }
    .title-message-widget{
        display: block !important;
        width: 100%;
    }
    .title-message-p{
        text-align: center;
    }
    .title-pay-widget{
        display: flex;
        justify-content: center;
    }
    .content-developers-cards{
        display: block !important;
    }
    .developer-img-widget{
        display: flex;
        justify-content: center;
    }
    .messages-widget{
        display: block !important;
    }
    .balance-widget{
        display: block !important;
    }
    .balance-widget-btns{
        margin-top: 5%;
    }
    .balance-span{
        display: flex;
        justify-content: center;
    }
    .mini-menu{
        display: block !important;
        text-align: center;
    }
    .messages-li{
        padding: 10px 0 10px 0;
    }
    .messages{
        display: block !important;
        text-align: center;
    }
    .month{
        display: flex;
        justify-content: center;
    }
    .chat-widget{
        display: block;
        text-align: center;
        padding: 10px;
    }
    .chat-username-widget{
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    .select-message-form{
        display: flex;
        justify-content: center;
    }
    .photo-label-btn{
        padding: 10% 25% 10% 25%;
        text-align: center;
    }
    .description-widget{
        width: 89%;
    }
    .pagination{
        width: 70% !important;
    }
}