
.photo-label{
    margin-top: 30px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 248, 246);
    border-radius: 10px;
    padding: 40px 20px 40px 20px;
    font-family: roboto;
}
.photo-label{
    text-decoration: underline solid #002f34;
}
.photo-label:hover{
    cursor: pointer;
}
.send-mail{
    font-family: roboto;
}
.send-mail-widget{
    padding: 30px;
}
.input-name{
    margin-bottom: 2%;
    background-color: transparent;
    border: solid gray 1px;
    padding: 8px;
    width: 30%;
}
.empty-category{
    text-align: center; 
    color: #002f34; 
    font-size: larger; 
    margin-top: 5%;
    margin-bottom: 5%;
}
.input-name:focus{
    box-shadow: inset 0 0 4px 0 #002f34;
    border: none;
    padding: 9px;
    outline: solid #002f34 0.5px;
}
.input-email{
    margin-bottom: 2%;
    padding: 8px;
    background-color: transparent;
    border: solid gray 1px;
    width: 30%;
}
.input-email:focus{
    box-shadow: inset 0 0 4px 0 #002f34;
    border: none;
    padding: 9px;
    outline: solid #002f34 0.5px;
}
.send{
    background-color: #002f34;
    padding: 10px 30px 10px 30px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease;
    border-radius: 3px;
}
.send:hover{
    box-shadow: inset 0 0 0 2px #002f34;
    color: #002f34;
    background-color: transparent;
    transition: all 0.2s ease;
}
.textarea-message{
    width: 30%;
    height: 150px;
    padding: 7px;
    background-color: transparent;
    border: solid gray 1px;
    margin-bottom: 2%;
}
.textarea-message:focus{
    box-shadow: inset 0 0 4px 0 #002f34;
    padding: 8px;
    outline: solid #002f34 0.5px;
    border: none;
}
.index-noads-title{
    color: #002f34;
    font-size: larger;
    margin-top: 5%;
    margin-bottom: 5%;
}
.photo-label-widget{ 
   display: flex;
}
.error{
    background-color: #002f34;
    padding: 14px;
    color: red;
    border-radius: 10px;
}
.username-label{
    padding-bottom: 6px;
    font-size: 18px;
}
.form-widget{
    margin-top: 40px;
    margin-bottom: 35px;
}
.username-input{
    margin-bottom: 13px;
}
.password-label{
    padding-bottom: 6px;
    font-size: 18px;
}
.bg-olx{
    background-color: #002f34;
    padding: 30px;
    color: white;
    border-radius: 10px;
}
.head-register-p{
    font-size: 17px;
    color: white;
}
.post-detail-photo{
    background-color: white;
    padding: 2%;
    width: 68%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.post-detail-contact-content{
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0 5% 0;
    font-family: roboto;
}
.all-ads{
    color: #002f34;
    font-weight: bolder;
    font-size: 17px;
}
.contact-btns{
    margin: 10% 0 0 0;
    display: flex;
    justify-content: center;
}
.contact-btn-number{
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: #002f34;
    font-weight: bold;
    font-size: 17px;
}
.gps-widget{
    background-color: white;
    padding: 15px;
    width: 20%;
    height: max-content;
    display: flex;
    justify-content: center;
}
.d-block{
    display: block;
}
.gps-p{
    color: #002f34;
    font-weight: bold;
    font-size: 18px;   
}
.post-description-widget{
    font-family: roboto;
    margin-left: 2%;
    margin-bottom: 5%;
}
.post-description{
    background-color: white;
    padding: 20px;
    width: 70.2%;
}
.favorite-card-widget{
    display: flex;
    justify-content: center;
}
.favorite-btn{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.favorite-btn:hover{
    cursor: pointer;
}
.favorite-btn:active{
    outline: none;
}
.post-detail-title{
    font-weight: bold;
    font-size: 25px;
    color: #002f34;
}
.post-detail-description{
    color: #002f34;
    font-size: 23px;
    font-weight: bold;
}
.post-detail-dsc{
    color: #002f34;
    font-size: 18px;
}
.post-price{
    font-weight: bold;
    font-size: 25px;
    color: #002f34;
}
.post-photo{
    width: 100%;
    object-fit: contain;
}
.message-description-widget{
    background-color: white;
    margin-top: 5%;
    width: 73%;
}
.author-description{
    padding: 15px;
}
.author-description-widget{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.message-send{
    margin: 3% 4% 0 2%;
}
.message-send-textarea{
    border: none;
    background-color: lavender;
    padding: 10px;
    width: 100%;
    height: 150px;
}
.message-send-textarea::placeholder{
    font-weight: bold;
    color: gray;
    font-size: 16px;
}
.message-send-btn-widget{
    display: flex;
    justify-content: end;
}
.message-send-btn{
    padding: 17px 30px 17px 30px;
    margin: 2% 1.7% 0 0;
    background-color: #002f34;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.post-detail-a{
    color: #002f34;
    font-family: roboto;
}
.post-detail-a:hover{
    text-decoration: #002f34 underline solid;
}
.bg-white{
    background-color: white;
    width: 97%;
    padding: 20px;
}
.balance-widget{
    display: flex;
}
.balance-widget span{
    display: flex;
    align-items: center;
}
.title-pay-widget{
    display: flex;
    align-items: center;
}
.balance-widget-btns{
    display: flex;
    align-items: center;
}
.pay-koshelek{
    border: #002f34 solid 2px;
    padding: 11px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    color: #002f34;
    background-color: white;
    transition: all 0.5s ease;
    margin-right: 15px;
}
.pay-koshelek:hover{
    cursor: pointer;
    background-color: #002f34;
    color: white;
    transition: all 0.3s ease;
}
.buy-packet{
    padding: 12.5px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    border: none;
    font-weight: bold;
    outline: none;
    background-color: #002f34;
    transition: all 0.5s ease;
}
.buy-packet:hover{
    cursor: pointer;
    background-color: white;
    color: #002f34;
    box-shadow: inset 0 0 0 2px #002f34;
    transition: all 0.3s ease;
}
.mini-menu{
    display: flex;
}
.menu-second a{
    color: #002f34;
    font-family: roboto;
}
.mini-li-nav{
    list-style-type: none;
    padding: 20px 20px 0 20px;
}
.mini-li-nav a{
    color: #002f34;
    font-size: 16px;
    font-weight: bold;
    transition: .3s;
}
.mini-li-nav a:hover{
    text-shadow: #002f34 1px 0 8px;
}
.bg-lavender{
    background-color: lavender;
    padding: 20px;
    width: 97%;
}
.month{
    display: flex;
    align-items: center;
    color: #002f34;
}
.messages-widget{
    display: flex;
    justify-content: space-between;
}
.select-messages{
    padding: 0 20px 0 40px;
}
.select-message{
    padding: 15px 50px 15px 25px;
    outline: none;
    border: none;
    font-size: medium;
    border-radius: 5px;
}
.select-mes{
    color: rgb(127, 151, 153);
    font-family: roboto;
}
.chat-select-message{
    display: flex;
}
.input-chb-span{
    padding: 0 7px 0;
}
.chat{
    padding: 27px;
}
.chat-widget{
    display: flex;
    background-color: white;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    justify-content: space-between;
}
.chat-username-widget{
    padding-left: 15px;
}
.chat-last-message{
    padding-top: 0;
}
.chat-theme{
    color: #002f34;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.chat-last-message{
    color: rgb(127, 151, 153);
}
.chat-date-widget{
    padding-left: 26%;
}
.chat-date{
    text-align: end;
}
.favorites-p{
    font-size: 32px;
    font-weight: bold;
    margin-top: 3%;
    color: #002f34;
}
.favorites-nomes-widget{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
}
.contact-us-p{
    color: #002f34; 
    font-size: xx-large; 
    margin: 0; 
    padding: 30px; 
    padding-bottom: 20px;
}
.favorites-nomes-p-main{
    font-size: 23px;
    font-weight: bold;
    color: #002f34;
}
.favorites-nomes-p-second{
    color: rgb(127, 155, 153);
    font-size: 15.5px;
    font-weight: bold;
}
.message-active{
    text-shadow: #002f34 1px 0 8px;
}
.all-ads-widget{
    padding-left: 4%;
}
.nowallet-widget{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
}
.nowallet-p{
    font-size: 18px;
    font-weight: bold;
    color: rgb(127, 151, 153);
}
.favorites-search-widget{
    background-color: white;
    display: flex;
    border-radius: 8px;
    width: 50%;
    justify-content: space-between;
}
.favorites-search{
    padding-left: 10%;
    padding-right: 20px;
    display: flex;
    align-items: center;
}
.favorites-delete-search{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    outline: none;
}
.favorites-delete-search:hover{
    cursor: pointer;
}
.favorites-delete-img-widget{
    padding-left: 5px;
}
.delete-search{
    color: rgb(127, 151, 153);
}
.delete-form{
    display: flex;
    align-items: center;
}
.search-name{
    font-size: 18px;
    color: #002f34;
    font-weight: bold;
}
.message-ads-widget{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.center{
    display: flex;
    justify-content: center;
}
.nav-widget-btn{
    border: none;
    outline: none;
    background-color: transparent;
}
.nav-widget-logo{
    width: 40%;
}
.reg-p-bold-first{
    font-size: 20px;
    font-weight: bold;
    color: #002f34;
}
.reg-p-first{
    color: #002f34;
    padding-bottom: 15px;
}
.reg-p-bold-first:hover{
    text-shadow: #002f34 1px 0 8px;
}
.reg-p-first:hover{
    text-shadow: rgb(127, 170, 153) 1px 0 8px;
}

.left-block{
    width: 16%;
}
.content-ad{
    font-family: roboto;
}
.author-link:active{
    color: #002f34;
}
.author-link{
    color: #002f34;
    text-decoration: underline solid #002f34;
}
.profile-p{
    color: #002f34;
    font-size: xx-large;
    font-weight: bold;
}
.category-widget{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.category-detail-widget{
    display: flex;
    justify-content: center;
}
.img-card{
    width: 100%;
    height: 50px;
    border-radius: 100px;
}
.body-card{
    text-align: center;
    width: 100px;
    font-family: roboto;
    font-size: 13px;
}
.center-block-p-body{
    width: 80%;
}
.content-developers{
    font-family: roboto;
}
.content-developers-cards{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
    padding-bottom: 3%;
    flex-wrap: wrap;
}
.stepasha-img{
    width: 220px;
    height: 267px;
    object-fit: contain;
}
.developer-desc{
    text-align: center;
}
.developer-img{
    width: 200px;
}
.no-lastseen{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    color: rgb(127, 170, 153);
    font-weight: bold;
    font-size: large;
}
.author{
    display: flex;
    align-items: center;
    justify-content: center;
}
.author-phone{
    font-weight: bold;
    font-size: 20px;
}
.author-phone-widget{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobileapps-widget{
    background-color: rgb(206, 221, 255);
}
.mobilesuccess-widget{
    display: flex;
    align-items: center;
    padding-bottom: 1%;
}
.title-mobileapps{
    font-size: 50px;
    font-weight: bold;
    color: #002f34;
}
.mobileapps-desc-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.white-p{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: #002f34;
}
.mobileapps-white-card{
    background-color: white;
    width: 340px;
    border-radius: 7px;
    text-align: center;
    padding: 3%;
}
.helper-img{
    width: 240px;
    border-radius: 10px;
}
.mobileapps-white-flex{
    display: flex;
    justify-content: center;
}
.title-white{
    font-weight: bold;
    font-size: x-large;
    color: #002f34;
}
.my-profile{
    text-align: center;
}
.carousel-gallery{
    display: flex;
    align-items: center;
}
.pagination{
    padding: 10px 20px 10px 20px;
    background-color: #002f34;
    border-radius: 15px;
    width: 20%;
    font-family: roboto;
}
.step-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pagination-widget{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.step-links a{
    color: white;
}
.step-links a:hover{
    text-shadow: white 1px 0 10px;
}
.current-widget{
    color: white;
}
.footer-redact-widget{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 2%;
}
.delete-redact-a{
    color: white;
    border-radius: 5px;
    font-family: ibm-text;
    background-color: #002f34;
    padding: 5px 15px 5px 15px;
}
.update-redact-a{
    color: white;
    border-radius: 5px;
    font-family: ibm-text;
    background-color: #002f34;
    padding: 5px 15px 5px 15px;
    border: none;
}
.form-delete{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.delete-form-widget{
    text-align: center;
    background-color: #002f34;
    height: 130px;
    padding: 1.5%;
    border-radius: 5px;
}
.delete-form-title{
    color: white;
    font-family: roboto;
    font-size: 20px;
}
.delete-input{
    padding: 4.5% 8% 4% 8%;
    border-radius: 5px;
    border: none;
    margin-top: 2%;
    outline: none;
    background-color: white;
    font-family: roboto;
    transition: all 0.5s ease;
}
.delete-input:hover{
    background-color: #002f34;
    box-shadow: inset 0 0 0 3px white;
    color: white;
    border: none;
    outline: none;
    transition: all 0.2s ease;
}
.delete-input:hover{
    cursor: pointer;
}