body{
    margin: 0;
    background-color:lavender;
}
.paginator{
    display: flex;
    align-items: center;
}
.category-get:hover{
    color: blue;
}
.category-get{
    color: #002f34;
}
.d-flex{
    display: flex;
}
.li:hover{
    color: gray;
}
.img-li-ico:hover{
    color: gray;    
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
}
.head-register{
    display: flex;
    width: 100%;
    justify-content: center;
}
.head-register a{
    font-size: 18px;
    color: white;
    font-family: monospace;
}
.content{
    display: flex;
    justify-content: center;
    font-family: roboto;
    margin-top: 2.4%;
}
.input-search-first{
    border: none;
    outline: none;
}
.input-search-first::placeholder{
    font-weight: bold;
}
.search-first-form{
    background-color: white;
    display: flex;
    height: 50px;
    border-radius: 7px;
}
.btn-search{
    padding-right: 20px;
    padding-left: 20px;
    color: #002f34;
    font-weight: bold;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;
    border: none;
    outline: none;
    transition: all 0.5s ease;
    cursor: pointer;
}
.btn-search:hover{
    background-color: #002f34;
    color: white;
    transition: all 0.5s ease;
}
.search-ico{
    width: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
.author-widget{
    background-color: #002f34;
    margin-top: 13%;
    padding: 20px;
    margin-bottom: 13%;
    border-radius: 15px;
}
.head-register-a{
    padding: 6%;
    border-radius: 40px;
    transition: .4s;
}
.head-register-a:hover{
    background-color: white;
    border-radius: 50px;
    transition: .4s;
    color: black;
}
.head-register-second-a:hover{
    background-color: white;
    border-radius: 50px;
    color: black;
    transition: .4s;
}
.head-register-second-a{
    border-radius: 50px;
    padding: 6%;
    transition: .4s;
}
.login-form input{
    display: block;
    padding: 10px;
}
.register-btn{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 15px;
    color: #002f34;
}
.register-btn:hover{
    cursor: pointer;
    text-decoration: underline #002f34 solid;
}
.register-form label{
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}
.register-form input{
    padding: 7px;
}
.login-form input:focus{
    outline: none;
}
.register-form input:focus{
    outline: none;
}
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}
.title-widget{
    text-align: center;
}
.title{
    padding-top: 17px;
    margin-bottom: 0;
    font-size: xx-large;
    font-family: roboto;
}
.categories{
    background-color: white;
}
.body-card a{
    color: black;
    transition: .3s;
}
.body-card a:hover{
    color: blue;
    transition: .3s;
}
.content-ad{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}
.create-ad{
    font-size: 33px;
    font-weight: bold;
}
.ad-name-widget{
    background-color: white;
    padding: 20px;
    padding-left: 35px;
}
.ad-name{
    font-size: 25px;
    font-weight: bold;
}
.ad-name-second{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.object-input-widget{
    padding: 18px;
    width: 56%;
    border: none;
    outline: none;
    background-color: lavender;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.object-input-widget:focus{
    outline: #002f34 solid 0.7px;
    box-shadow: inset #002f34 0px 0 7px;
}
.category-select{
    padding: 18px;
    width: 59.2%;
    border: none;
    outline: none;
    background-color: lavender;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.description-widget{
    width: 56%;
    border: none;
    height: 230px;
    outline: none;
    padding: 13px;
    background-color: lavender;
    resize: none;
    font-size: 15px;
    font-family: roboto;
}
.description-widget:focus{
    box-shadow: inset #002f34 0px 0 8px;
    border: solid #002f34 0.5px;
    padding: 12px;
}
.send-widget{
    margin-top: 3%;
}
.send-btn{
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: #002f34;
    border-radius: 5px;
    color: white;
}
.send-btn:hover{
    cursor: pointer;
}
.reklama-widget{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 23px;
    font-weight: bold;
}
.title-premium-card{
    text-align: center;
    color: #002f34;
    font-size: 31px;
    font-family: roboto;
}
.card-widget{
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
}
.category-get:hover{
    color: #002f34;
}
.premium-card-widget{
    display: flex;
    justify-content: center;
    margin-bottom: 6%;
    margin-left: 4.5%;
    flex-wrap: wrap;
    width: 90%;
}
.premium-img{
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.premium-card{
    background-color: white;
    padding: 10px;
    width: 280px;
    margin-left: 20px;
    margin-top: 30px;
}
.premium-body-widget{
    flex-wrap: wrap;
    width: 100%;
}
.premium-body{
    font-size: 18px;
    font-weight: bold;
    color: #002f34;
}
.premium-date-widget{
    width: 90%;
}
.premium-footer{
    display: flex;
    justify-content: space-between;
}
.premium-price{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.premium-btn{
    border: none;
    outline: none;
    background-color: #002f34;
    font-family: ibm-text;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    color: white;
}
.premium-btn:hover{
    cursor: pointer;
}
.start-business{
    background-color: #002f34;
    width: 100%;
}
.start-business-widget{
    display: flex;
    justify-content: space-evenly;
}
.text{
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: roboto;
}
.start-business-button{
    display: flex;
    align-items: center;
}
.start-business-btn{
    padding: 12px 36px 12px 36px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #002f34;
    font-weight: bold;
    font-family: roboto;
    transition: all 0.5s ease;
}
.start-business-btn:hover{
    background-color: #002f34;
    box-shadow: inset 0 0 0 3px white;
    color: white;
    border: none;
    outline: none;
    transition: all 0.2s ease;
}
.about-olx{
    background-color: rgb(203, 247, 238);
    width: 100%;
}
.about-olx-widget{
    padding-bottom: 1%;
}
@font-face {
    font-family: platform;
    src: url(fonts/Platform-Bold.ttf);
}
.about-olx-img{
    display: flex;
    justify-content: center;
}
.about-olx-content{
    text-align: center;
    width: 85%;
    margin-left: 9%;
    font-family: roboto;
}
.types-category{
    width: 98%;
    padding: 10px;
    background-color: rgb(242, 244, 245);
}
.types-category-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: roboto;
}
.text-bold{
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-right: 3px;
}
.document-img-widget{
    display: flex;
    justify-content: center;
}
.types-category-p{
    width: 25%;
    font-size: 15px;
    text-align: center;
}
.border-footer{
    border-bottom: #002f34 0.5px solid;
}
.footer-li{
    list-style-type: none;
    margin: 10px 10px 20px 10px;
    font-family: roboto;
    transition: .3s;
    color: #002f34;
}
.footer-menu a{
    font-size: 17.5px;
}
.menu-second{
    font-size: 17.5px;
}
.footer-li-frik{
    list-style-type: none;
    font-family: roboto;
    font-size: 17.5px;
    display: flex;
    margin-left: 3%;
    color: #002f34;
}
.footer-li-second{
    list-style: none;
    margin: 10px 10px 20px 10px;
}
.footer-content{
    display: flex;
}
.footer-widgets{
    margin-top: 1.5%;
    background-color: transparent;
    margin-left: 3%;
}

.footer-widgets-flex{
    display: flex;
    justify-content: center;
}
.playstore-btn{
    border: none;
    background-color: transparent;
    outline: none;
}
.appstore-btn{
    border: none;
    background-color: transparent;
    outline: none;
}
.footer-widgets-p{
    font-size: 14px;
}
.footer-widgets-description{
    display: flex;
    justify-content: center;
}
.footer-flags-widget{
    display: flex;
}
.bulgaria-img{
    width: 25px;
    margin-left: 3.5%;
    filter: grayscale(1);
    transition: .6s;
}
.bulgaria-widget a{
    display: flex;
    align-items: center;
    font-size: 12px;
}
.bulgaria-widget:hover .bulgaria-img{
    filter: grayscale(0);
    transition: .6s;
}
.footer-flags{
    margin-bottom: 20px;
}
.footer-flags-widget a{
    color: black;
}
.polska-widget a{
    display: flex;
    font-size: 12px;
    align-items: center;
}
.footer-flags-widget{
    margin-left: 3%;
}
.polska-img{
    width: 25px;
    margin-left: 3.5%;
    filter: grayscale(1);
    transition: .6s;   
}
.polska-widget:hover .polska-img{
    filter: grayscale(0);
    transition: .6s;
}
.romania-img{
    width: 25px;
    margin-left: 3.5%;
    filter: grayscale(1);
    transition: .6s;
}
.romania-widget{
    display: flex;
}
.romania-widget a{
    display: flex;
    font-size: 12px;
    align-items: center;
}
.romania-widget:hover .romania-img{
    filter: grayscale(0);
    transition: .6s;
}
.ukraine-img{
    width: 25px;
    margin-left: 3.5%;
    filter: grayscale(1);
    transition: .6s;
}
.ukraine-widget{
    display: flex;
}
.ukraine-widget a{
    display: flex;
    font-size: 12px;
    align-items: center;
}
.ukraine-widget:hover .ukraine-img{
    filter: grayscale(0);
    transition: .6s;
}
.portugalia-img{
    width: 25px;
    margin-left: 3.5%;
    filter: grayscale(1);
    transition: .6s;
}
.portugalia-widget{
    display: flex;
}
.portugalia-widget a{
    display: flex;
    font-size: 12px;
    align-items: center;
}
.portugalia-widget:hover .portugalia-img{
    filter: grayscale(0);
    transition: .6s;
}
.nav-logo{
    width: 60px;
    outline: none;
    border: none;
}
.navbar{
    background-color: #002f34;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    padding: 0;
    margin-right: 10px;
}
.li-nav{
    color: white;
    list-style-type: none;
    margin-left: 35px;
}
.li-nav-first{
    color: white;
    list-style-type: none;
}
.margin0{
    margin: 0;
    color: white;
    font-family: roboto;
}
.margin0:hover{
    color: gray;
}