{% extends 'base.html' %}
{% block title %}
Доска объявлений OLX.uz 
{% endblock %}
{% block content %}
<div class="content">
    <div class="author-widget">
        <p class="head-register-p">Для дальнейшего взаимодействия с сайтом, выберите действие:</p>
        <div class="head-register">
            <a href="{% url 'login' %}" class="head-register-a">Авторизоваться</a>
            <a href="{% url 'register' %}" class="head-register-second-a">Зарегистрироваться</a>
        </div>
    </div>
</div>
{% endblock %}