{% extends 'base-cariera.html' %}
{% load static %}
{% block title %}
OLX Group | Careers, Jobs and open roles
{% endblock %}
{% block content %}
<div class="careers-header-title">
    <div class="careers-header-widget">
        <p class="careers-head-first">SHAPE THE FUTURE OF TRADE</p>
        <p class="careers-head-second-first">Shape your career with us.</p>
        <p class="careers-head-second">Our purpose is to shape the future of trade to unlock the hidden value in everything.</p>
        <button class="careers-head-btn">See our open roles</button>
    </div>
    <div class="careers-header-animation-figura">
        <img src="{% static 'img/figura.png' %}" alt="" class="animation">
    </div>
</div>
<div class="carousel-widget">
    <div id="gallery">
        <div class="photos">
            <img src="{% static 'img/slide5.png' %}">
            <img src="{% static 'img/slide4.png' %}">
            <img src="{% static 'img/slide3.png' %}">
            <img src="{% static 'img/slide2.png' %}">
            <img src="{% static 'img/slide1.png' %}">
        </div>
        <div class="buttons">
            <button class="prev">Next</button>
        </div>
    </div>
</div>
<div class="left-right-block">
    <div class="left-right-block-widget">
        <div class="right-img-block">
            <div class="right-img">
                <p class="careers-right-first">GET TO KNOW US A BIT BETTER</p>
                <p class="careers-right-second-first">Why you should join the OLX Group now</p>
                <p class="careers-right-third">Discover a new world of opportunites</p>
                <a href="" class="careers-slug">Learn more</a>
            </div>
            <div class="right-img-widget">
                <img src="{% static 'img/right-1.png' %}" alt="" class="righ-img">
            </div>
        </div>
        <div class="left-img-block">
            <div class="left-img-widget">
                <img src="{% static 'img/left.png' %}" alt="" class="lef-img">
            </div>
            <div class="left-img">
                <p class="careers-left-first">OLX GROUP NEW VISION FOR WORK</p>
                <p class="careers-left-second-first">Hybrid work at OLX Group</p>
                <p class="careers-left-third">Learn more about our new Hybrid model</p>
                <a href="" class="careers-slug">Discover here</a>
            </div>
        </div>
        <div class="right-img-block" style="margin-top: 5%;">
            <div class="right-img">
                <p class="careers-right-first">STUDENTS & GRADS AT OLX GROUP</p>
                <p class="careers-right-second-first" style="width: 60%;">Your Future with Us</p>
                <p class="careers-right-third">Welcome to the OLX Group Academy, the OLX Group Internships Program. Applications are now open</p>
                <a href="" class="careers-slug" style="font-weight: bold;">Discover the acamedy</a>
            </div>
            <div class="right-img-widget">
                <img src="{% static 'img/right-2.png' %}" alt="" class="righ-img">
            </div>
        </div>
    </div>
</div>
<div class="team-widget-center">
    <div class="team-widget">
        <div class="team-widget-text">
            <p class="careers-right-second-first">Find your team</p>
            <p class="team-right-third">322M monthly active users; US$ 1.6B revenue & +18% Growth (FY 21); Part of Naspers' Prosus, one of the biggest technology investors in the world; 30+ countries; 20+ brands; 10,000+ people; 81 nationalities; That's what's on our plate at OLX. Find your team. Shape your career with us.</p>
            <div class="team-widget-slugs" style="margin-top: 5%;">
                <a href="" class="team-widget-slug">Engineering</a>
                <a href="" class="team-widget-slug">Product</a>
            </div>
            <div class="team-widget-slugs">
                <a href="" class="team-widget-slug">Data Science</a>
                <a href="" class="team-widget-slug">Design & UX</a>
            </div>
            <div class="team-widget-slugs">
                <a href="" class="team-widget-slug">Discover all our roles</a>
            </div>
        </div>
        <div class="team-widget-img-widget">
            <div class="team-widget-img-first">
                <img src="{% static 'img/team.png' %}" alt="" class="img-first">
            </div>
            <div class="team-widget-img-second">
                <img src="{% static 'img/team-second.png' %}" alt="" >
            </div>
            <div class="team-widget-img-first">
                <img src="{% static 'img/team-third.png' %}" alt="" class="img-first">
            </div>
        </div>
    </div>
    <div class="team-widget">
        <div class="team-widget-img-widget">
            <div class="team-widget-img-second">
                <img src="{% static 'img/team-second-first.png' %}" alt="" class="img-first">
            </div>
            <div class="team-widget-img-first">
                <img src="{% static 'img/team-widget-second-second.png' %}" alt="" class="img-first">
            </div>
            <div class="team-widget-img-second">
                <img src="{% static 'img/team-widget-second-third.png' %}" alt="" class="img-first">
            </div>
        </div>
        <div class="team-widget-text">
            <p class="careers-right-second-first">Our locations</p>
            <p class="team-right-third">Large or small, each one of our offices in designed to inspire innovation, big ideas, and community.</p>
            <div class="team-widget-slugs" style="margin-top: 5%;">
                <a href="" class="team-widget-slug-first">Poland, Poznan</a>
                <a href="" class="team-widget-slug-first">Berlin, Germany</a>
                <a href="" class="team-widget-slug-first">Gurugram & New Delhi, India</a>
            </div>
            <div class="team-widget-slugs">
                <a href="" class="team-widget-slug-second">Lisbon, Portugal</a>
                <a href="" class="team-widget-slug-second">Remote</a>
                <a href="" class="team-widget-slug-second">All locations</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}