{% extends 'base.html' %}
{% block title %}
{% load static %}
Developers of this Website
{% endblock %}
{% block content %}
<div class="content-developers">
    <div class="content-developers-cards">
        <div class="developer-card">
            <div class="developer-img-widget">
                <img src="{% static 'img/leader.jpg' %}" alt="" class="developer-img">
            </div>
            <div class="developer-desc">
                <p style="font-weight: bold;">Purisov Daniil</p>
                <p>16 years</p>
                <p>Frontend, Backend, Design</p>
            </div>
        </div>
        <div class="developer-card">
            <div class="developer-img-widget">
                <img src="{% static 'img/yodgorov.jpg' %}" alt="" class="developer-img">
            </div>
            <div class="developer-desc">
                <p style="font-weight: bold;">Yodgorov Shohruh</p>
                <p>16 years</p>
                <p>Frontend, Design</p>
            </div>
        </div>
        <div class="developer-card">
            <div class="developer-img-widget">
                <img src="{% static 'img/stepasha.jpg' %}" alt="" class="stepasha-img">
            </div>
            <div class="developer-desc">
                <p style="font-weight: bold;">Mirzayev Samir</p>
                <p>13 years</p>
                <p>Design, SMTP</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}