{% extends 'base.html' %}
{% block title %}
{% load static %}
Developers of this Web site
{% endblock %}
{% block content %}
<div class="content-developers">
    <div class="content-developers-widget">
        <div class="leader-developer" style="margin-bottom: 15%;">
            <div class="leader-img-widget">
                <img src="{% static 'purisov.jpg' %}" alt="" class="leader-img">
            </div>
            <div class="description-leader" style="margin-left: 40px;">
                <div class="descriotion-leader-widget">
                    <p style="font-weight: bold;">Purisov Daniil</p>
                    <p>Leader of OLX Project</p>
                    <p>Chief website Designer</p>
                </div>
            </div>
        </div>
        <div class="leader-developer" style="margin-bottom: 15%;">
            <div class="leader-img-widget">
                <img src="{% static 'purisov.jpg' %}" alt="" class="leader-img">
            </div>
            <div class="description-leader" style="margin-left: 40px;">
                <div class="descrition-leader-widget">
                    <p style="font-weight: bold;">Yodgorov Shoxruxmirzo</p>
                    <p>Helper of OLX Project</p>
                    <p>Helper of mobile Design</p>
                </div>
            </div>
        </div>
        <div class="leader-developer">
            <div class="leader-img-widget">
                <img src="{% static 'purisov.jpg' %}" alt="" class="leader-img">
            </div>
            <div class="description-leader" style="margin-left: 40px;">
                <div class="description-leader-widget">
                    <p style="font-weight: bold;">Samir</p>
                    <p>So far haven't done anything</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}