{% extends 'base.html' %}
{% block title %}
{% load static %}
Developers of this Website
{% endblock %}
{% block content %}
<div class="content-developers">
    <div class="content-developers-widget">
        <div class="leader-developer" style="margin-bottom: 15%;">
            <div class="leader-img-widget">
                <img src="{% static 'img/leader.jpg' %}" alt="" class="leader-img">
            </div>
            <div class="description-leader" style="margin-left: 40px;">
                <div class="descriotion-leader-widget">
                    <p style="font-weight: bold;">Purisov Daniil</p>
                    <p>Leader of OLX Project</p>
                    <p>Chief Designer</p>
                </div>
            </div>
        </div>
        <div class="leader-developer" style="margin-bottom: 15%;">
            <div class="leader-img-widget">
                <img src="{% static 'img/purisov.jpg' %}" alt="" class="helper-img">
            </div>
            <div class="description-leader" style="margin-left: 40px;">
                <div class="descrition-leader-widget">
                    <p style="font-weight: bold;">Yodgorov Shoxruxmirzo</p>
                    <p>Helper of OLX Project</p>
                    <p>Mobile Design</p>
                </div>
            </div>
        </div>
        <div class="leader-developer">
            <div class="leader-img-widget">
                <img src="{% static 'img/stepasha.jpg' %}" alt="" class="stepasha-img">
            </div>
            <div class="description-leader" style="margin-left: 40px;">
                <div class="description-leader-widget">
                    <p style="font-weight: bold;">Samir</p>
                    <p>Helper of OLX Project</p>
                    <p>none</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}