{% extends 'base.html' %}
{% load static %}
{% block title %}
Избранные объявления
{% endblock %}
{% block content %}
<div class="favorites-p">
    <p style="text-align: center;">Избранные объявления:</p>
</div>

<div class="premium-card-widget">
    {% for product in product %}
    <div class="premium-card">
        <a href="{% url 'post_detail_url' product.id %}">
        {% if product.product.image.url != null %}
        <div class="premium-img-widget">
            <img src="{{ product.product.image.url }}" alt="..." class="premium-img">
        </div>
        {% else %}
        <div class="premium-img-widget">
            <img src="{% static 'img/1.jpg' %}" alt="" class="premium-img">
        </div>
        {% endif %}
        <div class="premium-body-widget">
            <p class="premium-body"><a href="{% url 'post_detail_url' product.id %}" class="post-detail-a">{{product.product.title}}</a></p>
        </div>
        <div class="premium-footer">
            <div class="premium-price">
            {{product.product.price}}$
            </div>
            <div class="premium-add-to-favorites">
                <a href="{% url 'delete_favourite' product.id %}">
                    <button class="premium-btn">delete from Favorites</button> 
                </a>
            </div>
        </div>

    </div>
    {% empty %}
    <div class="favorites-nomes-widget">
        <div class="favorites-nomes">
            <div class="favorites-nomes-img-widget">
                <img src="{% static 'img/nomes-favorites.PNG' %}" alt="" class="favorites-nomes-img">
            </div>
            <p class="favorites-nomes-p-main">Нет избранных объявлений</p>
            <p class="favorites-nomes-p-second">Добавить в избранное можно с главной страницы, нажав на кнопку "to Favorites" в описании объявления.</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}