{% extends 'base.html' %}
{% load static %}
{% block title %}
Избранные объявления
{% endblock %}
{% block content %}
<div class="favorites-widget">
    <div class="favorites-p">
        <p>Избранные объявления</p>
    </div>
    <ul class="favorites-menu">
        <li class="li-favorites"><a href="{% url 'favorites' %}" class="favorites-active">Избранные объявления</a></li>
        <li class="li-favorites"><a href="{% url 'favorites_search' %}">Избранные результаты поиска</a></li>
        <li class="li-favorites"><a href="{% url 'favorites_lastseen' %}">Недавно просмотренные</a></li>
    </ul>
</div>
<div class="favorites-nomes-widget">
    <div class="favorites-nomes">
        <div class="favorites-nomes-img-widget">
            <img src="{% static 'img/nomes-favorites.PNG' %}" alt="" class="favorites-nomes-img">
        </div>
        <p class="favorites-nomes-p-main">Нет избранных объявлений</p>
        <p class="favorites-nomes-p-second">Добавить в избранные можно со страницы объявления либо со страницы списка объявлений</p>
        <p class="favorites-nomes-p-second">Теперь избранные объявения всегда доступны на любом компьютере, а также на мобильной версии сайта, после входа в Мои объявления</p>
    </div>
</div>
<!-- <div class="favorite-card-widget">
    <div class="premium-card">
        <div class="premium-img-widget">
            <img src="{% static 'img/1.jpg' %}" alt="" class="premium-img">
        </div>
        <div class="premium-body-widget">
            <p class="premium-body"><a href="{% url 'post_detail_url' %}" class="post-detail-a">iPhone 13 Pro Max</a></p>
        </div>
        <div class="premium-date-widget">
            <p class="premium-date">Дорогое говно, айфонодрочерам в рот нассали</p>
        </div>
        <div class="premium-footer">
            <div class="premium-price">
                Потеря девственности
            </div>
            <div class="premium-add-to-favorites">
               <button class="premium-btn"><img src="{% static 'img/premium-favorite.png'%}" alt=""></button> 
            </div>
        </div>
    </div>
    <div class="premium-card">
        <div class="premium-img-widget">
            <img src="{% static 'img/1.jpg' %}" alt="" class="premium-img">
        </div>
        <div class="premium-body-widget">
            <p class="premium-body"><a href="{% url 'post_detail_url' %}" class="post-detail-a">iPhone 13 Pro Max</a></p>
        </div>
        <div class="premium-date-widget">
            <p class="premium-date">Дорогое говно, айфонодрочерам в рот нассали</p>
        </div>
        <div class="premium-footer">
            <div class="premium-price">
                Потеря девственности
            </div>
            <div class="premium-add-to-favorites">
               <button class="premium-btn"><img src="{% static 'img/premium-favorite.png'%}" alt=""></button> 
            </div>
        </div>
    </div>
    <div class="premium-card">
        <div class="premium-img-widget">
            <img src="{% static 'img/1.jpg' %}" alt="" class="premium-img">
        </div>
        <div class="premium-body-widget">
            <p class="premium-body"><a href="{% url 'post_detail_url' %}" class="post-detail-a">iPhone 13 Pro Max</a></p>
        </div>
        <div class="premium-date-widget">
            <p class="premium-date">Дорогое говно, айфонодрочерам в рот нассали</p>
        </div>
        <div class="premium-footer">
            <div class="premium-price">
                Потеря девственности
            </div>
            <div class="premium-add-to-favorites">
               <button class="premium-btn"><img src="{% static 'img/premium-favorite.png' %}" alt=""></button> 
            </div>
        </div>
    </div>
    <div class="premium-card">
        <div class="premium-img-widget">
            <img src="{% static 'img/1.jpg' %}" alt="" class="premium-img">
        </div>
        <div class="premium-body-widget">
            <p class="premium-body"><a href="{% url 'post_detail_url' %}" class="post-detail-a">iPhone 13 Pro Max</a></p>
        </div>
        <div class="premium-date-widget">
            <p class="premium-date">Дорогое говно, айфонодрочерам в рот нассали</p>
        </div>
        <div class="premium-footer">
            <div class="premium-price">
                Потеря девственности
            </div>
            <div class="premium-add-to-favorites">
               <button class="premium-btn"><img src="{% static 'img/premium-favorite.png' %}" alt=""></button> 
            </div>
        </div>
    </div>
    <div class="premium-card">
        <div class="premium-img-widget">
            <img src="{% static 'img/1.jpg' %}" alt="" class="premium-img">
        </div>
        <div class="premium-body-widget">
            <p class="premium-body"><a href="{% url 'post_detail_url' %}" class="post-detail-a">iPhone 13 Pro Max</a></p>
        </div>
        <div class="premium-date-widget">
            <p class="premium-date">Дорогое говно, айфонодрочерам в рот нассали</p>
        </div>
        <div class="premium-footer">
            <div class="premium-price">
                Потеря девственности
            </div>
            <div class="premium-add-to-favorites">
               <button class="premium-btn"><img src="{% static 'img/premium-favorite.png' %}" alt=""></button> 
            </div>
        </div>
    </div>
    <div class="premium-card">
        <div class="premium-img-widget">
            <img src="{% static 'img/1.jpg' %}" alt="" class="premium-img">
        </div>
        <div class="premium-body-widget">
            <p class="premium-body"><a href="{% url 'post_detail_url' %}" class="post-detail-a">iPhone 13 Pro Max</a></p>
        </div>
        <div class="premium-date-widget">
            <p class="premium-date">Дорогое говно, айфонодрочерам в рот нассали</p>
        </div>
        <div class="premium-footer">
            <div class="premium-price">
                Потеря девственности
            </div>
            <div class="premium-add-to-favorites">
               <button class="premium-btn"><img src="{% static 'img/premium-favorite.png' %}" alt=""></button> 
            </div>
        </div>
    </div> -->
</div>
{% endblock %}