{% extends 'base.html' %}
{% block title %}
{% load static %}
OLX uz
{% endblock %}
{% block content %}
<p class="help-title-p">
    Узнайте больше об OLX
</p>
<div class="help-card-widget">
    <div class="help-card-widget-center">
        <div class="help-card">
            <div class="help-card-img-widget">
                <img src="{% static 'help-star.PNG' %}" alt="" class="help-card-img">
            </div>
            <div class="help-card-body">
                <a href="{% url 'more_myprofile' %}" class="my-profile">
                    <p class="help-card-body-p-first">Мой профиль</p>
                    <p class="help-card-body-p-second">Регистрация профиля, Настройки профиля, Технические непололадки</p>
                </a>
            </div>
        </div>
        <div class="help-card" style="margin-left: 3%;">
            <div class="help-card-img-widget">
                <img src="{% static 'help-ava.PNG' %}" alt="" class="help-card-img">
            </div>
            <div class="help-card-body">
                <a href="{% url 'more_information' %}" class="my-profile">
                    <p class="help-card-body-p-first">Правовая информация и Приватность</p>
                    <p class="help-card-body-p-second">Пользовательское соглашение, Политика конфиденциальности</p>
                </a>
            </div>
        </div>
        <div class="help-card" style="margin-left: 3%;">
            <div class="help-card-img-widget">
                <img src="{% static 'help-info.PNG' %}" alt="" class="help-card-img">
            </div>
            <div class="help-card-body">
                <a href="" class="my-profile">
                    <p class="help-card-body-p-first">Безопасность</p>
                    <p class="help-card-body-p-second">Общая информация о безопасности, Советы по сохранению безопасности</p>
                </a>
            </div>
        </div>
        <div class="help-card" style="margin-top: 3%;">
            <div class="help-card-img-widget">
                <img src="{% static 'help-document.PNG' %}" alt="" class="help-card-img">
            </div>
            <div class="help-card-body">
                <a href="" class="my-profile">
                    <p class="help-card-body-p-first">Правила OLX</p>
                    <p class="help-card-body-p-second">Правила публикации объявлений, Блоки и Удаления</p>
                </a>
            </div>
        </div>
        <div class="help-card" style="margin-top: 3%; margin-left: 3%;">
            <div class="help-card-img-widget">
                <img src="{% static 'help-menu.PNG' %}" alt="" class="help-card-img">
            </div>
            <div class="help-card-body">
                <a href="" class="my-profile">
                    <p class="help-card-body-p-first">Лимиты и Пакеты объявлений</p>
                    <p class="help-card-body-p-second">Лимиты в категориях, Покупка дополнительных пакетов для размещения</p>
                </a>
            </div>
        </div>
        <div class="help-card" style="margin-top: 3%; margin-left: 3%;">
            <div class="help-card-img-widget">
                <img src="{% static 'help-3t.PNG' %}" alt="" class="help-card-img">
            </div>
            <div class="help-card-body">
                <a href="" class="my-profile">
                    <p class="help-card-body-p-first">Управление объявлениями</p>
                    <p class="help-card-body-p-second">Действия с объявлением и Размещение объвлений</p>
                </a>
            </div>
        </div>
        <div class="help-card" style="margin-top: 3%;">
            <div class="help-card-img-widget">
                <img src="{% static 'help-birka.PNG' %}" alt="" class="help-card-img">
            </div>
            <div class="help-card-body">
                <a href="" class="my-profile">
                    <p class="help-card-body-p-first">Платные услуги</p>
                    <p class="help-card-body-p-second">Виды услуг продвижения, Порядок оплаты</p>
                </a>
            </div>
        </div>
        <div class="help-card" style="margin-top: 3%; margin-left: 3%;">
            <div class="help-card-img-widget">
                <img src="{% static 'help-flag.PNG' %}" alt="" class="help-card-img">
            </div>
            <div class="help-card-body">
                <a href="" class="my-profile">
                    <p class="help-card-body-p-first">Возможности для бизнеса</p>
                    <p class="help-card-body-p-second">Банерная реклама на OLX.uz и Сотрудничество</p>
                </a>
            </div>
        </div>
        <div class="help-card" style="margin-top: 3%; margin-left: 3%;">
            <div class="help-card-img-widget">
                <img src="{% static 'help-settings.PNG' %}" alt="" class="help-card-img">
            </div>
            <div class="help-card-body">
                <a href="" class="my-profile">
                    <p class="help-card-body-p-first">О нас</p>
                    <p class="help-card-body-p-second">О компании и её миссии</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}