{% extends 'base.html' %}
{% block title %}
{% load static %}
OLX.uz - как продавать и покупать товары
{% endblock %}
{% block content %}
<div class="scroll-buy">
    <a href="" class="buy-active">Я хочу купить</a>
    <a href="" class="buy-deactive">Я хочу продать</a>
</div>
<div class="ads-around">
    <p class="ads-around-p-first">Найдите лучше предложения поблизости</p>
    <p class="ads-around-p-second">Узнайте, как купить практичски всё</p>
    <div class="ads-around-img-widget">
        <img src="{% static 'img/ads-around.png' %}" alt="" class="ads-around-img">
    </div>
    <p class="find-tovar">Найдите и купите нужный товар</p>
    <div class="ads-around-card-widget">
        <div class="ads-around-card">
            <div class="ads-around-card-img-widget">
                <img src="{% static 'img/ads-around-img.png' %}" alt="" class="ads-around-card-img">
            </div>
            <p class="ads-around-card-p-first">Ищите что угодно</p>
            <p class="ads-around-card-p-second">Перейдите на главную, чтобы начать искать то, что вам нужно, или посмотрите товары в интересующих вас категориях.</p>
        </div>
        <div class="ads-around-card">
            <div class="ads-around-card-img-widget">
                <img src="{% static 'img/adsaroundcarddocument.png' %}" alt="" class="ads-around-card-img">
            </div>
            <p class="ads-around-card-p-first">Найдите единственное объявление</p>
            <p class="ads-around-card-p-second">Просмотрите фото, детальное описание товара и профиль продавца</p>
        </div>
        <div class="ads-around-card">
            <div class="ads-around-card-img-widget" style="margin-top: 3%;">
                <img src="{% static 'img/adsaroundgames.png' %}" alt="" class="ads-around-card-img">
            </div>
            <p class="ads-around-card-p-first">Свяжитесь с продавцом</p>
            <p class="ads-around-card-p-second">Позвоните продавцу или отправьте сообщение в чате OLX, чтобы узнать больше о товаре и договориться о цене.</p>
        </div>
        <div class="ads-around-card">
            <div class="ads-around-card-img-widget" style="margin-top: 3%;">
                <img src="{% static 'img/adsaroundbirka.png' %}" alt="" class="ads-around-card-img">
            </div>
            <p class="ads-around-card-p-first">Купите и получите ваш товар!</p>
            <p class="ads-around-card-p-second">Воспользуйтесь OLX доставка, чтобы получить товар, или договоритесь с продавцом о личной встрече в общественном месте.</p>
        </div>
    </div>
</div>
<p class="ads-around-select">OLX помогает сделать вам разумный выбор</p>
<div class="ads-around-select-img-widget">
    <img src="{% static 'img/ads-around-favorites.png' %}" alt="" class="ads-around-select-img">
</div>
<div class="ads-around-select-cards">
    <div class="ads-around-select-card">
        <div class="ads-around-select-card-img">
            <img src="{% static 'img/ads-around-menu.png' %}" alt="" class="ads-around-select">
        </div>
        <p class="ads-around-select">Покупайте и продавайте безопасно</p>
    </div>
    <div class="ads-around-select-card">
        <div class="ads-around-select-card-img" style="margin-top: 2.6%;">
            <img src="{% static 'img/ads-around-cart.png' %}" alt="" class="ads-around-select">
        </div>
        <p class="ads-around-select">Найдите практически что угодно</p>
    </div>
    <div class="ads-around-select-card">
        <div class="ads-around-select-card-img" style="margin-top: 1%;">
            <img src="{% static 'img/ads-around-gps.png' %}" alt="" class="ads-around-select">
        </div>
        <div class="ads-around-footer-select">
            <p class="ads-around-select">Воспользуйтесь доставкой в категориях, где она доступна</p>
        </div>
    </div>
</div>
{% endblock %}