{% extends 'base.html' %}
{% block title %}
{% load static %}
OLX.uz - как продавать и покупать товары
{% endblock %}
{% block content %}
<div class="scroll-buy">
    <a href="{% url 'buy' %}" class="sell-deactive">Я хочу купить</a>
    <a href="{% url 'sell' %}" class="sell-active">Я хочу продать</a>
</div>
<div class="ads-around">
    <p class="ads-around-p-first">Найдите покупателей со свей страны</p>
    <p class="ads-around-p-second">Узнайте, как продать практически всё что угодно</p>
    <div class="ads-around-img-widget">
        <img src="{% static 'img/ads-around-bg-second.png' %}" alt="" class="ads-around-img">
    </div>
    <p class="find-tovar">Публикуйте объявления о продаже и заключайте успешные сделки</p>
    <div class="ads-around-card-widget">
        <div class="ads-around-card">
            <div class="ads-around-card-img-widget">
                <img src="{% static 'img/ads-around-img.png' %}" alt="" class="ads-around-card-img">
            </div>
            <p class="ads-around-card-p-first">Сделайте фото товара</p>
            <p class="ads-around-card-p-second">Прочтите, как опубликовать объявление, узнайте, зачем добавлять фото и как продавать ещё быстрее</p>
        </div>
        <div class="ads-around-card">
            <div class="ads-around-card-img-widget" style="margin-top: 3%;">
                <img src="{% static 'img/kayfarik.png' %}" alt="" class="ads-around-card-img">
            </div>
            <p class="ads-around-card-p-first">Найдите единственное объявление</p>
            <p class="ads-around-card-p-second">Просмотрите фото, детальное описание товара и профиль продавца</p>
        </div>
        <div class="ads-around-card">
            <div class="ads-around-card-img-widget">
                <img src="{% static 'img/kit.png' %}" alt="" class="ads-around-card-img">
            </div>
            <p class="ads-around-card-p-first">Общайтесь с покупателями</p>
            <p class="ads-around-card-p-second">Отвечайте на вопросы покупателей, предоставьте им больше информации о товаре и договоритесь о цене.</p>
        </div>
        <div class="ads-around-card">
            <div class="ads-around-card-img-widget" style="margin-top: 4.5%;">
                <img src="{% static 'img/brat.png' %}" alt="" class="ads-around-card-img">
            </div>
            <p class="ads-around-card-p-first">Продавайте товар с доставкой!</p>
            <p class="ads-around-card-p-second">Пользуйтесь OLX доставка, чтобы продать товар, или договоритесь с покупателем о личной встрече в общественном месте</p>
        </div>
    </div>
</div>
<p class="ads-around-select">OLX помогает сделать вам разумный выбор</p>
<div class="ads-around-select-img-widget">
    <img src="{% static 'img/ads-around-favorites.png' %}" alt="" class="ads-around-select-img">
</div>
<div class="ads-around-select-cards">
    <div class="ads-around-select-card">
        <div class="ads-around-select-card-img">
            <img src="{% static 'img/ads-around-menu.png' %}" alt="" class="ads-around-select">
        </div>
        <p class="ads-around-select">Покупайте и продавайте безопасно</p>
    </div>
    <div class="ads-around-select-card">
        <div class="ads-around-select-card-img" style="margin-top: 2.6%;">
            <img src="{% static 'img/ads-around-cart.png' %}" alt="" class="ads-around-select">
        </div>
        <p class="ads-around-select">Найдите практически что угодно</p>
    </div>
    <div class="ads-around-select-card">
        <div class="ads-around-select-card-img" style="margin-top: 1%;">
            <img src="{% static 'img/ads-around-gps.png' %}" alt="" class="ads-around-select">
        </div>
        <div class="ads-around-footer-select">
            <p class="ads-around-select">Воспользуйтесь доставкой в категориях, где она доступна</p>
        </div>
    </div>
</div>
<div class="ads-around-btn">
    <a href="{% url 'addpost' %}" class="ads-around-slug">Опубликовать объявление</a>
</div>
{% endblock %}