{% extends 'base-index.html' %}
{% load static %}
{% block title %}
Доска объявлений OLX.uz 
{% endblock %}
{% block content %}
<div class="content">
    <div class="search-first">
        <img src="{% static 'search.PNG' %}" alt="">
        <form action="{% url 'search_url' %}" method="GET" class="d-flex">
            <input type="search" placeholder="... объявлений рядом" class="input-search-first" name="search_input">
            <button class="btn-search">Поиск</button>
        </form>
    </div>
</div>
<div class="categories">
    <div class="title-widget">
        <p class="title">Главные категории</p>
    </div>
    <div class="category-widget">
        {% for category in categories %}
        <div class="card-widget">
            {% if category.image.url != null %}
            <div class="img-card-widge">
                <img src="{{category.image.url}}" alt="..." class="img-card">
            </div>
            {% else %}
            <div class="img-card-widget">
                <img src="/beige_бежевый_aesthetic_эстетика_wallpaper_coffee_кофе_обои_foundalighter.jpg" alt="..." class="img-card">
            </div>
            {% endif %}
            <div class="body-card">
                <a href="{{category.get_link}}">
                    <p class="title-card">{{category.title}}</p> 
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="reklama-widget">
    <p>Здесь должна быть реклама, но мне, к сожалению, за неё не платили</p>
</div>

<p class="title-premium-card">Премиум объявления</p>
<div class="premium-card-widget">
    <div class="premium-card">
        <div class="premium-img-widget">
            <img src="/app_blog/static/1.jpg" alt="" class="premium-img">
        </div>
        <div class="premium-body-widget">
            <p class="premium-body"><a href="{% url 'post_detail_url' %}" class="post-detail-a">iPhone 13 Pro Max</a></p>
        </div>
        <div class="premium-date-widget">
            <p class="premium-date">Дорогое говно, айфонодрочерам в рот нассали</p>
        </div>
        <div class="premium-footer">
            <div class="premium-price">
                Потеря девственности
            </div>
            <div class="premium-add-to-favorites">
               <button class="premium-btn"><img src="/app_blog/static/premium-favorite.PNG" alt=""></button> 
            </div>
        </div>
    </div>
    <div class="premium-card">
        <div class="premium-img-widget">
            <img src="/app_blog/static/1.jpg" alt="" class="premium-img">
        </div>
        <div class="premium-body-widget">
            <p class="premium-body">MacBookPro14</p>
        </div>
        <div class="premium-date-widget">
            <p class="premium-date">Ничем не отличается от предыдущего своего родственника</p>
        </div>
        <div class="premium-footer">
            <div class="premium-price">
                Потеря девственности + 2000$
            </div>
            <div class="premium-add-to-favorites">
               <button class="premium-btn"><img src="/app_blog/static/premium-favorite.PNG" alt=""></button> 
            </div>
        </div>
    </div>
    <div class="premium-card">
        <div class="premium-img-widget">
            <img src="/app_blog/static/1.jpg" alt="" class="premium-img">
        </div>
        <div class="premium-body-widget">
            <p class="premium-body">AirPods Pro</p>
        </div>
        <div class="premium-date-widget">
            <p class="premium-date">Отличается своим качеством от других apple</p>
        </div>
        <div class="premium-footer">
            <div class="premium-price">
                2 652 000 сум
            </div>
            <div class="premium-add-to-favorites">
               <button class="premium-btn"><img src="/app_blog/static/premium-favorite.PNG" alt=""></button> 
            </div>
        </div>
    </div>
    <div class="premium-card">
        <div class="premium-img-widget">
            <img src="/app_blog/static/1.jpg" alt="" class="premium-img">
        </div>
        <div class="premium-body-widget">
            <p class="premium-body">Электрический чайник</p>
        </div>
        <div class="premium-date-widget">
            <p class="premium-date">Четкая вещь, качество хорошее, недорого</p>
        </div>
        <div class="premium-footer">
            <div class="premium-price">
                2 100 000 сум
            </div>
            <div class="premium-add-to-favorites">
               <button class="premium-btn"><img src="/app_blog/static/premium-favorite.PNG" alt=""></button> 
            </div>
        </div>
    </div>
    <div class="premium-card">
        <div class="premium-img-widget">
            <img src="/app_blog/static/1.jpg" alt="" class="premium-img">
        </div>
        <div class="premium-body-widget">
            <p class="premium-body">Проводные наушники BOROFONE</p>
        </div>
        <div class="premium-date-widget">
            <p class="premium-date">Топовое качество, цена дешманская, ограничено в продаже</p>
        </div>
        <div class="premium-footer">
            <div class="premium-price">
                50 000 сум
            </div>
            <div class="premium-add-to-favorites">
               <button class="premium-btn"><img src="/app_blog/static/premium-favorite.PNG" alt=""></button> 
            </div>
        </div>
    </div>
    <div class="premium-card">
        <div class="premium-img-widget">
            <img src="/app_blog/static/1.jpg" alt="" class="premium-img">
        </div>
        <div class="premium-body-widget">
            <p class="premium-body">Инвалидная коляска</p>
        </div>
        <div class="premium-date-widget">
            <p class="premium-date">Это то, что вы всегда искали, дешманская цена, ограничено в количестве</p>
        </div>
        <div class="premium-footer">
            <div class="premium-price">
                1 252 000 сум
            </div>
            <div class="premium-add-to-favorites">
               <button class="premium-btn"><img src="/app_blog/static/premium-favorite.PNG" alt=""></button> 
            </div>
        </div>
    </div>
</div>
{% endblock %}