{% extends 'base-index.html' %}
{% load static %}
{% block title %}
Доска объявлений OLX.uz 
{% endblock %}
{% block content %}
<div class="content">
    <div class="search-first">
        <img src="{% static 'img/search.PNG' %}" alt="" class="no-ph">
        <form action="{% url 'search_url' %}" method="GET" class="search-first-form">
            <input type="search" placeholder="Поиск объявлений" class="input-search-first" name="search_input">
            <button class="btn-search">Поиск</button>
        </form>
    </div>
</div>
<div class="categories">
    <div class="title-widget">
        <p class="title">Главные категории</p>
    </div>
    <div class="category-widget">
        {% for category in categories %}
        <div class="card-widget">
            {% if category.image.url != null %}
            <a href="{{category.get_link}}" class="category-get">
                <div class="img-card-widget">
                    <img src="{{category.image.url}}" alt="..." class="img-card">
                </div>
                {% else %}
                <div class="img-card-widget">
                    <img src="{% static 'img/1.jpg' %}" alt="" class="img-card">
                </div>
                {% endif %}
                <div class="body-card">
                    <p class="title-card">{{category.title}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="reklama-widget">
    <p>Здесь должна быть реклама, но мне, к сожалению, за неё не платили</p>
</div>

<p class="title-premium-card">Торговая площадка</p>
<div class="premium-card-widget">
    {% for product in page_obj %}
    <div class="premium-card">
        {% if product.image.url != null %}
        <div class="premium-img-widget">
            <img src="{{ product.image.url }}" alt="..." class="premium-img">
        </div>
        {% else %}
        <div class="premium-img-widget">
            <img src="{% static 'img/1.jpg' %}" alt="" class="premium-img">
        </div>
        {% endif %}
        <div class="premium-body-widget">
            <p class="premium-body"><a href="{% url 'post_detail_url' product.id %}" class="post-detail-a">{{product.title}}</a></p>
        </div>
        <div class="premium-date-widget">
            <p class="premium-date" style="word-wrap: break-word;">{{product.description|slice:'0:200'}}</p>
        </div>
        <div class="premium-footer">
            <div class="premium-price">
            {{product.price}}
            </div>
            <div class="premium-add-to-favorites">
               <button class="premium-btn"><img src="{% static 'img/premium-favorite.PNG' %}" alt=""></button> 
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pagination-widget">
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"><-- previous</a>
            {% endif %}
    
            <span class="current">
                {{ page_obj.number }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next --></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}