{% extends 'base.html' %}
{% load static %}
{% block title %}
Мой профиль OLX.uz
{% endblock %}
{% block content %}
<div class="bg-white">
    <div class="title-message-widget">
        <div class="title-message">
            <p class="title-message-p">Платежи и счёт OLX</p>
        </div>
        <div class="title-pay-widget">
            <div class="balance-widget">
                <div class="balance-widget-spans">
                    <span style="padding-right: 15px;">Баланс: 0 сум</span>
                    <span>Для рекламы объявлений: 0 бонусов</span>
                </div>
                <img src="{% static 'balance.PNG' %}" alt="">
                <div class="balance-widget-btns">
                    <button class="pay-koshelek" style="margin-right: 15px;">Пополнить счёт</button>
                </div>
            </div>
        </div>
    </div>
    <div class="learn-more">
        <a href="">Узнать больше</a>
    </div>
    <div class="mini-navbar-message-widget">
        <ul class="mini-menu">
            <li class="mini-li-nav"><a href="{% url 'messages_ads' %}">Объявления</a></li>
            <li class="mini-li-nav"><a href="{% url 'messages' %}" >Сообщения</a></li>
            <li class="mini-li-nav"><a href="{% url 'messages_wallet' %}" class="message-active">Платежи и счёт OLX</a></li>
            <li class="mini-li-nav"><a href="{% url 'messages_settings' %}">Настройки</a></li>
        </ul>
    </div>
</div>
<div class="bg-lavender">
    <div class="nowallet-widget">
        <p class="nowallet-p">Здесь вы найдете сведения обо всех платёжных операциях, произведенных для продвижения ваших объявлений.</p>
        <p class="nowallet-p">Также вы можете посмотреть остаток средств(баланс) на вашем счету.</p>
    </div>
</div>
{% endblock %}