{% extends 'base.html' %}
{% load static %}
{% block title %}
Доска объявлений OLX.uz
{% endblock %}
{% block content %}
<div class="title-message-head">
    <div class="title-message-widget">
        <div class="title-message">
            <p class="title-message-p">Сообщения</p>
        </div>
    </div>
    <div class="mini-navbar-message-widget">
        <ul class="mini-menu">
            <li class="mini-li-nav"><a href="{% url 'messages_ads' %}">Объявления</a></li>
            <li class="mini-li-nav"><a href="{% url 'messages' %}" class="message-active">Сообщения</a></li>
        </ul>
    </div>
</div>
<div class="messages-head">
    <div class="nomessage-widget">
        <div class="nomessage">
            <div class="img-nomes-widget">
                <img src="{% static 'img/nomessage.PNG' %}" alt="" class="nomes">
            </div>
            <p class="nomes-first">Пока сообщений нет</p>
            <p class="nomes-second">Здесь будут храниться все отправленные и полученные сообщения</p>
        </div>
    </div>
</div>
{% endblock %}