{% extends 'base.html' %}
{% load static %}
{% block title %}
Доска объявлений OLX.uz
{% endblock %}
{% block content %}
<div class="title-message-head">
    <div class="title-message-widget">
        <div class="title-message">
            <p class="title-message-p">Сообщения</p>
        </div>
        <div class="title-pay-widget">
            <div class="balance-widget">
                <div class="balance-widget-spans">
                    <span style="padding-right: 15px;">Баланс: 0 сум</span>
                    <span>Доступный баланс: 0 сум</span>
                </div>
                <img src="{% static 'img/balance.PNG' %}" alt="" class="no-ph">
                <div class="balance-widget-btns">
                    <button class="pay-koshelek" style="margin-right: 15px;">Пополнить кошелёк</button>
                    <button class="buy-packet">Купить пакет</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mini-navbar-message-widget">
        <ul class="mini-menu">
            <li class="mini-li-nav"><a href="{% url 'messages_ads' %}">Объявления</a></li>
            <li class="mini-li-nav"><a href="{% url 'messages' %}" class="message-active">Сообщения</a></li>
        </ul>
    </div>
</div>
<div class="messages-head">
    <div class="messages-widget">
        <ul class="messages">
            <li class="messages-li"><a href="">Недавние</a></li>
            <li class="messages-li"><a href="">Все отправленные</a></li>
            <li class="messages-li"><a href="">Архивные</a></li>
        </ul>
        <div class="month">
            <img src="{% static 'img/balance-lavender.PNG' %}" alt="">
            <span>Ваши сообщения будут храниться 4 месяца</span>
        </div>
    </div>
    <div class="nomessage-widget">
        <div class="nomessage">
            <div class="img-nomes-widget">
                <img src="{% static 'img/nomessage.PNG' %}" alt="" class="nomes">
            </div>
            <p class="nomes-first">Пока сообщений нет</p>
            <p class="nomes-second">Здесь будут храниться все отправленные и полученные сообщения</p>
        </div>
    </div>
</div>
{% endblock %}