{% extends 'base.html' %}
{% block title %}
Правовая информация и Приватность
{% endblock %}
{% block content %}
<div class="more_profile-widget">
    <p class="more_profile-p">Правовая информация и приватность</p>
    <p class="more_profile-p-second">Пользовательское соглашение и Политика конфиденциальности</p>
    <div class="more_profile-widget-center">
        <div class="more_profile-registration-widget">
            <a href="">
                <p class="reg-p-bold-first">Правила сервиса OLX</p>
                <p class="reg-p-first" style="padding-top: 18%; font-size: 19px;">Правила сервиса OLX</p>
            </a>
        </div>
        <div class="more_profile-registration-widget" style="margin-left: 2%;">
            <a href="">
                <p class="reg-p-bold-second">Политика конфиденциальности и использования cookies</p>
                <p class="reg-p-second">Политика конфиденциальности</p>
                <p class="reg-p-second">Политика использования cookies</p>
            </a>
        </div>
        <div class="more_profile-registration-widget" style="margin-left: 2%;">
            <a href="">
                <p class="reg-p-bold">Архив пользовательского соглашения сервиса OLX.uz</p>
                <p class="reg-p-second">Пользовательнское соглашение сервиса OLX.uz, действующее до 10.11.2021</p>
                <p class="reg-p-second">Пользовательское соглашение сервиса OLX.uz, дейсствующее до 01.01.2021</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}