{% extends 'base.html' %}
{% load static %}
{% block title %}
Подтверждение(верификация) профиля
{% endblock %}
{% block content %}
<div class="content-profile-registration">
    <div class="left-block">
        <p class="left-block-p">Статьи в этом разделе</p>
        <a href="" class="left-block-a"><p>Как зарегистрироваться на OLX</p></a>
        <a href="" class="left-block-a"><p>Как зарегистрироваться на OLX через мобильное устройство</p></a>
        <a href="" class="profile-active"><p>Подтверждение(верификация) профиля</p></a>
    </div>
    <div class="center-block">
        <p class="center-block-head-p">Подтверждение(верификация) профиля</p>
        <p class="center-block-p-body">При любом действии с объявлением (публикации, редактировании, рекламировании) необходимо <span style="color: #002f34; font-weight: bold;">верифицировать</span> Профиль с целью безопасности.</p>        
    </div>
</div>
{% endblock %}