{% extends 'base.html' %}
{% load static %}
{% block title %}
Дополнительно о посте
{% endblock %}
{% block content %}
<div class="post-detail-contact-content">
    <div class="post-detail-photo">
        {% if product.image.url != null %}
        <img src="{{ product.image.url }}" alt="" class="post-photo">
        {% else %}
        <img src="{% static 'img/1.jpg' %}" alt="" class="post-photo">
        {% endif %}
    </div>
    <div class="gps-widget">
        <div class="gps-widget-center">
            <p class="gps-p" style="margin-bottom: 5%;">Местоположение:</p>
            <div class="d-flex">
                <div>
                    <img src="{% static 'img/gps-tracker.png' %}" alt="" style="width: 50px;">
                </div>
                <div style="display: flex; align-items: center; width: 80%;">
                    <span>{{product.sity_title}}</span>
                </div>
            </div>
            <p class="gps-p" style="margin-top: 20%; margin-bottom: 5%;">Телефонный номер:</p>
            <div class="d-flex">
                <div>
                    <img src="{% static 'img/call.png' %}" style="width: 50px;">
                </div>
                <div style="display: flex; align-items: center; width: 80%;">
                    +{{product.usernumber}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="post-description-widget">
    <div class="post-description-widget-center">
        <div class="post-description">
            <div class="post-detail-title-widget">
                <p class="post-detail-title">{{product.title}}</p>
                <p class="post-price">Цена: {{product.price}}$</p>
                <p class="post-detail-description">Описание:</p>
                <hr>
                <p class="post-detail-dsc">{{product.description}}</p>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}