{% extends 'base.html' %}
{% load static %}
{% block title %}
Дополнительно о посте
{% endblock %}
{% block content %}
<div class="post-detail-contact-content">
    <div class="post-detail-photo">
        {% if post.image.url != null %}
        <img src="{{product.image.url}}" alt="" class="post-photo">
        {% else %}
        <img src="{% static '1.jpg' %}" alt="" class="post-photo">
        {% endif %}
    </div>
    <div class="d-block">
        <div class="contact-widget">
            <p class="p-username">Пользователь:</p>
            <div class="contact">
                <div class="contact-avatar-widget">
                    <img src="{% static 'avatar.PNG' %}" alt="" class="contact-avatar">
                </div>
                <div class="contact-number-widget">
                    <p class="user-number">998 91 333 88 10</p>
                    <a href="" class="all-ads">Все объявления автора</a>
                </div>
            </div>
            <div class="contact-btns">
                <div class="contact-btn-number-widget">
                    <button class="contact-btn-number">Написать сообщение</button>
                </div>
            </div>
        </div>
        <div class="gps-widget">
            <p class="gps-p">Местоположение:</p>
            <div class="d-flex">
                <div>
                    <img src="{% static 'gps-tracker.PNG' %}" alt="" style="width: 50px;">
                </div>
                <div style="display: flex; align-items: center; width: 80%;">
                    <span>Шайхантахурский район</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="post-description-widget">
    <div class="post-description">
        <div class="d-flex" style="justify-content: space-between;">
            <p>Опубликовано: 20 февраля 2022 г.</p>
            <button class="favorite-btn"><img src="{% static 'premium-favorite.PNG' %}" alt=""></button>
        </div>
        <div class="post-detail-title-widget">
            <p class="post-detail-title">{{product.title}}</p>
            <p class="post-price">{{product.price}}</p>
            <p class="post-detail-description">Описание:</p>
            <p class="post-detail-dsc">{{product.description}}</p>
            <hr>
            <div class="d-flex" style="justify-content: space-between; align-items: center;">
                <p><a href="" class="d-flex" style="align-items: center; color: black;">
                    <img src="{% static 'red-flag.PNG' %}" alt="">Пожаловаться
                </a></p>
            </div>
        </div>
    </div>
    <div class="message-description-widget">
        <form action="" method="">
            <div class="author-description">
                <div class="d-flex" style="align-items: center; justify-content: space-between;">
                    <div class="d-flex" style="align-items: center;">
                        <img src="{% static 'avatar.PNG' %}" alt="">
                        <p>Kakoy ta Boburbek</p>
                    </div>
                    <div class="d-flex" style="align-items: center;">
                        <img src="{% static 'call.PNG' %}" alt="">
                        <p style="font-weight: bold; font-size: 20px;">+998 97 923 56 66</p>
                    </div>
                </div>
                <div class="message-send">
                    <textarea name="" id="" placeholder="Напишите сообщение..." style="resize: none;" class="message-send-textarea"></textarea>
                </div>
                <div class="message-send-btn-widget">
                    <button class="message-send-btn">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}