{% extends 'base.html' %}
{% block title %}
Настройки профиля
{% endblock %}
{% block content %}
<div class="profile-padding">
    <p class="profile-p">Настройки профиля</p>
    <!-- <p class="profile-p-body">Профиль кандидата: ваше резюме</p> -->
    <a href=""><p class="profile-p-body">Как восстановить/изменить пароль от профиля OLX</p></a>
    <a href=""><p class="profile-p-body">Как восстановить/изименить пароль от профиля OLX на мобильном устройстве</p></a>
    <a href=""><p class="profile-p-body">Необходимость смены пароля</p></a>
    <!-- <a href=""><p class="profile-p-body">ID профиля</p></a> -->
    <a href=""><p class="profile-p-body">Общие настройки личного профиля</p></a>
    <a href=""><p class="profile-p-body">Настройки объявлений</p></a>
    <a href=""><p class="profile-p-body">Настройки уведомлений</p></a>
    <a href=""><p class="profile-p-body">Избранные объявления и результаты поиска</p></a>
    <!-- <a href=""><p class="profile-p-body">Настройки бизнес страницы</p></a> -->
    <!-- <a href=""><p class="profile-p-body">Оценка пользователей OLX</p></a> -->
    <a href=""><p class="profile-p-body">Как удалить профиль</p></a>
</div>
{% endblock %}
