{% extends 'base.html' %}
{% block title %}
Реклама на OLX
{% endblock %}
{% block content %}
<div class="reklama-content">
    <p style="font-weight: bold; font-size: 20px; color: #002f34;">Реклама на OLX.uz</p>
    <ul class="reklama-ul">
        <li>Универсальная аудитория - только посетители e-commerce сегмента интернета, а это значит - платежеспособная и активная аудитория</li>
        <li>Охватные и тематические пакетные решения: Мужской, Женский, Автомобильный, Электроника, Недвижимость, Бизнес и другие.</li>
        <li>Таргетирование по целевой аудитории, частоте показов</li>
        <li>Нестандартные рекламные решения</li>
        <li>Эффективное размещение баннерных мест</li>
        <li class="li-frik" style="margin-top: 4%;">Презентация для рекламодателей (<a href="">Скачать</a>)</li>
        <li class="li-frik">Технические требования к рекламным материалам (<a href="">Скачать</a>)</li>
    </ul>
    <div class="p-frik" style="color: #002f34;">
        <p>По вопросам размещения рекламы на OLX.uz обращайтесь:</p>
        <p>тел: phone</p>
        <p>тел: phone</p>
        <p>email: email</p>
    </div>
</div>
{% endblock %}