{% extends 'base.html' %}
{% block title %}
Общие правила публикации объявлений
{% endblock %}
{% block content %}
<div class="more_profile-widget">
    <p class="more_profile-p">Правила OLX</p>
    <p class="more_profile-p-second">Правила публикации объявлений, Блоки и Удаления</p>
    <div class="more_profile-widget-center">
        <div class="more_profile-registration-widget">
            <p class="reg-p-bold-first">Правила публикации объявлений</p>
            <a href=""><p class="reg-p-first">Список товаров и запрещенных услуг</p></a>
            <a href=""><p class="reg-p-first">Общие правила публикации объявлений</p></a>
            <a href=""><p class="reg-p-first">Нарушение авторских прав (ТМ), копии, реплики</p></a>
            <button class="reg-p-btn"><a href="" class="reg-p-btn-a">Показать все статьи</a></button>

        </div>
        <div class="more_profile-registration-widget" style="margin-left: 2%;">
            <p class="reg-p-bold-second">Блоки и Удаления</p>
            <a href=""><p class="reg-p-second" style="padding-top: 19%;">Почему заблокирован профиль?</p></a>
            <a href=""><p class="reg-p-second" style="padding-top: 19%;">Как узнать почему мое объявление удалено?</p></a>
        </div>
        <div class="more_profile-registration-widget" style="margin-left: 2%;">
            <a href="">
                <p class="reg-p-bold">Правила публикации объявлений по категориям</p>
                <p class="reg-p-second">Категория: Недвижимость</p>
                <p class="reg-p-second">Категория: Работа</p>
                <p class="reg-p-second">Категория: Электроника</p>
                <p class="reg-p-second">Категория: Транспорт</p>
                <p class="reg-p-second">Категория: Бизнес и Услуги</p>
                <p class="reg-p-second">Раздел: Продукты питания</p>
            </a>
        </div>
        <div class="more_profile-registration-widget" style="margin-left: 2%;">
            <a href="">
                <p class="reg-p-bold">Правила одного товара</p>
                <p class="reg-p-second">Правило одного товара (общее)</p>
                <p class="reg-p-second">Раздел: Недвижимость</p>
                <p class="reg-p-second">Раздел: Электроника</p>
                <p class="reg-p-second">Раздел: Бизнес и Услуги / Работа</p>
                <p class="reg-p-second">Иные разделы</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}