{% extends 'base.html' %}
{% block title %}
Безопасность
{% endblock %}
{% block content %}
<div class="more_profile-widget">
    <p class="more_profile-p">Безопасность</p>
    <p class="more_profile-p-second">Общая информация о безопасности, Советы по сохранению безопасности</p>
    <div class="more_profile-widget-center">
        <div class="more_profile-registration-widget">
            <p class="reg-p-bold-first">Общая информация о безопасности</p>
            <a href=""><p class="reg-p-first">Общая информация по безопасности</p></a>
            <a href=""><p class="reg-p-first">Подтверждение входа с нового устройства. Сообщение "Это действительно Вы?"</p></a>
            <a href=""><p class="reg-p-first">SMS мошенники</p></a>
            <button class="reg-p-btn"><a href="" class="reg-p-btn-a">Показать все статьи</a></button>
        </div>
        <div class="more_profile-registration-widget" style="margin-left: 2%;">
            <a href="">
                <p class="reg-p-bold-second">Советы по сохранению безопасности</p>
                <p class="reg-p-second">5 золотых правил безопасности</p>
                <p class="reg-p-second">Почему в объявлении скрываются контактные данные</p>
                <p class="reg-p-second">Как сообщить о нарушении</p>
            </a>
            <button class="reg-p-btn"><a href="" class="reg-p-btn-a">Показать все статьи</a></button>
        </div>
    </div>
</div>
{% endblock %}